
body {
  background: #fff;
}

.primary-color {
  color: #1a2236;
}

.position {
  position: absolute;
}

.left16 {
  left: 16px;
}

.align-left {
  text-align: left;
}

.no-margin {
  margin: 0;
}

.width288 {
  width: 288px;
}

.typography {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
}

.poppins {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.logo {
  height: 74px;
  width: 111px;
  left: 0;
  top: 0;
}

.navbar-item {
  flex: 1;
}

.icon {
  height: 14px;
  width: 20px;
  right: 16px;
  left: 284px;
  top: 19px;
}

.name {
  height: 100px;
  width: 220px;
  top: 104px;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0;
}

.intro {
  height: 126px;
  top: 224px;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
}

.cta {
  height: 50px;
  left: 16px;
  top: 390px;
  background-color: #1a2236;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: white;
  text-align: center;
  letter-spacing: 0;
  border: 0;
}

.head-image {
  top: 490px;
  left: 0;
  right: 0;
  width: 320px;
}

.projects-head {
  height: 50px;
  width: 181px;
  right: 123px;
  top: 672px;
  font-size: 50px;
  line-height: 50px;
}

.projects-list {
  display: grid;
  position: absolute;
  top: 800px;
  grid-template-columns: auto;
  left: 0;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
}

.cards {
  flex: 1;
}

.cards-detail {
  height: 156px;
  width: 320px;
  left: 0;
  background: #1a2236;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
}

.cards-detail p {
  width: 264px;
  height: 16px;
  left: 20px;
  color: white;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
}

.cards-detail button {
  height: 20px;
  left: 99px;
  background: #98dede;
  border: 0;
  margin: 5px;
}

.cards-detail .go-to {
  width: 178px;
  height: 44px;
  background: #1a2236;
  color: white;
  left: 20px;
  margin: 5px;
  border: 1px solid #fff;
}

.go-to i {
  margin-left: 10px;
  font-size: 1em;
}

.fix-card {
  height: 186px;
  width: 320px;
  left: 0;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
}

/* Back images for Project items */
.card1 {
  background: url(images/Rectangle21.png);
}

.card2 {
  background: url(images/Rectangle22.png);
}

.card3 {
  background: url(images/Rectangle23.png);
}

.card4 {
  background: url(images/Rectangle24.png);
}

.card5 {
  background: url(images/Rectangle25.png);
}

.card6 {
  background: url(images/Rectangle26.png);
}

.about-head {
  height: 50px;
  width: 134px;
  top: 2892px;
  font-size: 50px;
  line-height: 50px;
}

.about {
  height: 126px;
  width: 288px;
  top: 3020px;
  line-height: 21px;
  font-size: 14px;
}

.cta-2 {
  height: 50px;
  top: 3180px;
  background: #1a2236;
  border: 0;
  color: white;
}

.tech {
  display: grid;
  grid-column: auto;
  top: 3250px;
}

.tech-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.tech-details .flex {
  flex: 1;
  margin: 5px;
}

.dimension {
  height: 289px;
  width: 289px;
}

.text-size {
  height: 135px;
  width: 178px;
  left: 66px;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.0525em;
  text-align: left;
  color: white;
}

.bold {
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0;
  text-align: left;
  width: 116px;
  height: 30px;
  left: 66px;
  color: white;
  margin: 30px;
}

.languages {
  background: #1c528a;
}

.frameworks {
  background: #e2505c;
}

.skills {
  background: #febf52;
}

.svg-image1 {
  height: 102px;
  width: 102px;
  left: 192px;
  top: 145px;
}

.svg-image2 {
  height: 102.22146524221353px;
  width: 102.22146524221353px;
  left: 215px;
  top: 409px;
}

.svg-image2-1 {
  height: 89.28138486162237px;
  width: 72.28138486162237px;
  left: 223px;
  top: 413px;
}

.svg-image3 {
  height: 102px;
  width: 102px;
  left: 190px;
  top: 650px;
}
