body {
  background: #fff;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.header-image {
  height: 74px;
  width: 111px;
  left: 0;
  top: 0;
  position: absolute;
}

.navbar-item {
  flex: 1;
}

.navbar i {
  height: 14px;
  width: 20px;
  margin: 19px 16px 0 284px;
  position: absolute;
  color: #1a2236;
}

.navbar ul, .hidden {
  display: none;
}

#summary .name {
  height: 100px;
  width: 220px;
  left: 16px;
  top: 104px;
  position: absolute;
  color: #1a2236;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
  letter-spacing: 0;
  text-align: left;
}

#summary p {
  position: absolute;
  height: 126px;
  width: 288px;
  left: 16px;
  top: 224px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.01em;
  text-align: left;
}

#summary img {
  height: 50px;
  position: absolute;
  width: 288px;
  left: 16px;
  top: 390px;
  color: #1a2236;

}

#summary .button {
  height: 26.4705886px;
  width: 203.6792297px;
  left: 58px;
  top: 402px;
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  margin: 12px 42.32px 11.53px 42px;
}
